@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply heading-font;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }

    .heading-font {
        font-family: "Open Sans", serif;
        text-transform: uppercase;
    }
}
